body {
	background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages3.alphacoders.com%2F186%2F186987.jpg&f=1&nofb=1&ipt=7f001a83fd82dc5a045aa602ca07f6ded9637b62c3128f60369df0f9f6e30f14&ipo=images.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #ffffff;
}